@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@inject LoggedInUserService userService  
@{
	float cartTotal = 0;
  	foreach(var t in @userService.user_cart)
  	{
    	cartTotal += t.quantity * t.all_items.price * 100;
  	}
}


<!-- For converting dollars into cents for stripe to process -->

<div class="container">
	<h1 class="text-center form-text">Checkout</h1>
    <form asp-action="Charge" method="POST">
		<div class="text-center">
			<label for="address_chosen">Choose your shipping address</label>
			<select class="form-control" name="address_chosen">
			@foreach(var a in ViewBag.AddressList)
			{
				<option value="" >Please Select</option>
				<option value="@a.address_id">@a.address_line_one</option>
			}
			<!-- FOREACH LOOP -->
			</select>
		</div>
		<div class="container text-center" style="padding-top:30px;">
			<script
				src="https://checkout.stripe.com/checkout.js"
				class="stripe-button"
				data-key="@Stripe.Value.PublishableKey"
				data-name="Robot Jester!"
				data-description="@userService.get_sum.Count Items"
				data-amount="@cartTotal">
			</script>
		</div>
		<input type="hidden" value="@cartTotal" name="total" required>
	</form>
</div>